[user]
	name = kfrapin
	email = kevin.frapin@gmail.com
[core]
	editor = gvim
	excludesfile = ~/.gitignore_global
	autocrlf = input
	whitespace = trailing-space,space-before-tab,indent-with-non-tab
[help]
	autocorrect = 1
[color]
	ui = true
[diff "word"]
	textconv = strings
[diff "exif"]
	textconv = exiftool
